<br />
<h1 style="background-color: #fff7ed; font-family: Georgia, serif; color: black; ">Privacy Policy</h1>
<br />

<div class="card mb-3">
    <img class="card-img-top" src="~/images/policy.jpg" alt="Card image cap">
   
</div>
</br>

<p style="background-color: #fff7ed; font-family: Georgia, serif; color: black; ">
    OVERVIEW This privacy policy (this “Privacy Policy”) sets out the privacy policies and practices for Sanjna Pillow Company.
    with respect to how sanjna'sPillow collects personal information. It also describes how sanjna'sPillow maintains, uses, and discloses personal information. This Privacy Policy applies to information collected from you by sanjna'sPillow via this website and other website operated or provided by sanjna'sPillow,
    including www.sanjnapillow.com, and other places where or means by which we may collect personal information
</p>
<br><p style="background-color: #fff7ed; font-family: Georgia, serif; color: black; ">
    COLLECTION OF YOUR INFORMATION Sanjna'sPillows may collect personal information in connection with your use or purchase of Products through your use of the Website, which may include information provided in connection </pstyle="background-color:>
    <br>
<p style="background-color: #fff7ed; font-family: Georgia, serif; color: black; "> REQUEST FOR ACCESS AND CORRECTION, QUESTIONS OR COMMENTS Sanjna'sPillow welcomes questions and comments about this Privacy Policy. Requests for access and correction of your personal information, and questions or comments should be directed to theSanjna'sPillow by email: hello@SanjnaPillow.com</p>