@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br>
<center><h1 style=" font-family: cursive; color: black;">Prodcuts Details</h1></center>

<br>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/Product1.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">Urban Basics Cloud Soft Microfiber Pillow,</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product2.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">linenaffairs Micro Fiber Filled Burgundy Plain Cotton Pillow </h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product3.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">Memory Foam Orthopedic Bed Pillow for Sleeping & Neck Pain Relief for Back Sleeper</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/Product4.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">SHOPPOFOBIX Alexia Cervical Orthopedic Contour Memory Foam Pillow</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product5.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">White Willow Cervical Orthopedic Memory Foam Cooling Gel Regular Size Contour Neck Support</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product6.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">ARMOR Orthopedic Memory Foam Pillow</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>


<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/images/Product7.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">UTTU Memory Foam Pillow</h5>
            <p class="card-text">Adjustable Sandwich Pillow, Side Sleeper Pillow for Neck and Shoulder Pain, Cooling Pillow for Sleeping, Hypoallergenic Bamboo Pillow, CertiPUR-US.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product8.jpg" alt="Card image cap">
        <div class="card-body" style=" font-family: 'Josefin Sans', sans-serif; color: black;">
            <h5 class="card-title">Pillows Queen Size Pack for Bed Sleeping</h5>
            <p class="card-text">Hotel Pillow for Side Stomach and Back Sleepers Hypoallergenic Velvet Fabric, Fluffy Down Alternative Pillow with Super Soft Microfiber Filling for Neck Pain Allergy Sufferers, Machine Washable.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/images/Product9.jpg" alt="Card image cap">
        <div class="card-body" style="background-color: #fff7ed; font-family: Georgia, serif; color: black; ">
            <h5 class="card-title">Fityou Memory Foam Pillow</h5>
            <p class="card-text">Sleeping, Bedding Contour Cervical Orthopedic Bed Pillow for Neck Pain Support for Back, Stomach and Side Sleepers, Soft Removable Washable Pillowcase</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>